!!!
html
  head
    title Genesis
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="http://craftyjs.com/release/0.3/crafty.js")
    script(type="text/javascript", src="/javascripts/game_helpers.js")
    script(type="text/javascript", src="/javascripts/components.js")
    script(type="text/javascript", src="/javascripts/game.js")
    script(type="text/javascript", src="/javascripts/docready.js")

  body!= body
